@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(../Files/Fonts/OpenSans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

body {
    background: rgb(0, 0, 0, 1.0) !important;
    /* background-image: url("../Files/img/images/bg.jpg"); */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    background-position: center;
    /* font-family: 'Courier New', Courier, monospace; */
    color: #fff !important;
    text-align: center;
}

.logohref {
    width: 15%;
}

.dropdown-item {
    color: #fff;
}

.dropdown-divider {
    margin: 0;
    border-top: 0;
}

// .card .img-top {
//     display: none;
//     position: absolute;
//     top: 0;
//     left: 0;
// }

// .card:hover .img-top {
//     display: inline;
// }

#imgSelectMain {
    width: 90%;
}

.jumbotron {
    text-align: center;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    display: none;
}

// SECTION
.jumbotron#sHome {
    /* height:calc(100vh - 51px); */
    display: flex;
}

.jumbotron#sAboutMe {}

.jumbotron#sFeatures {}

.jumbotron#sDev {}

.jumbotron#sDonate {}

.form-select {
    border-width: 5px;
    border-color: rgba(180, 180, 180, 05);
}


.divContain {
    position: relative;
    // display: inline-flex;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    margin: 0;
    color: #fff;
    min-width: 100%;
    min-height: 100%;
}

.repo-info {
    border: 3px solid #ccc;
    padding: 20px;
}

p {
    font-size: 24px;
}

video {
    opacity: 0; /* Opacità iniziale a 0% */
    transition: opacity 0.8s ease-in-out;
    background-color: black; /* Sfondo nero durante il caricamento */
}
  
footer {
    position: relative;
    background-color: rgba(145, 0, 190, 0.75);
    margin: 0;
    top: 0;
    padding: 0;
}

footer p {
    margin: 0;
    top: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
}

footer a,
footer a:active,
footer a:focus,
footer a:hover {
    color: #fff;
    display: inline-block;
}

#videoBG {
    //object-fit: cover;
    //position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    filter: brightness(0.5);
    //display: inline-flex;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
  }

.videobcg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Manda il video sotto gli altri elementi */
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
        padding: 0;
        position: fixed;
        object-fit: cover;
        z-index: -1; /* Manda il video sotto gli altri elementi */
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
        padding: 0;
        position: fixed;
        object-fit: cover;
        z-index: -1; /* Manda il video sotto gli altri elementi */
    }
}

#FlagCounter {
    float: right;
    padding: 0;
}

#imgFlagCounter {
    float: right;
    padding: 0;
    margin: 0;
    size: auto;
}

.badge {
    font-size: .90em;
}

.popover-header {
    background-color: rgb(60, 60, 60);
    // border-radius: 25rem;
    color: #fff;
}

.popover-body {
    background-color: rgb(40, 40, 40);
    // border-radius: 25rem;
    color: #fff;
}

.popover {
    border-width: 5px;
    border-color: rgba(100, 100, 100, 0.5);
}

$--bs-gutter-x: 0;

.aru-data-container {

    padding-right: 0;
    padding-left: 0;
}

.chainList {
    display: none;
}

.aru-no-border {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
}

// TAG ELEMENT
.table {
    vertical-align: middle;
}

.aru-border {
    border-width: 5px;
    border-color: rgba(180, 180, 180, 05);
}

// #mainNavbar {
//     top: 0; 
//     position: relative;
// }
/*
body {
    background-image: url("../Files/img/AnimeClassRoom.jpg");
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
    text-align: center;
}
h1 {
    margin-top: 30px;
}
div {
    border-radius: 15px;
    border-style: outset;
    border-style: solid;
    border-width: 0px 16px 0px 16px;
}
strong {
    color: red;
}
.jumbotron{
    color:#fff;
    text-align:center;
    margin:0
}
.Cbutton {
    width: 100px;
    height: 30px;
}
.removetrasp {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 98%;
}
.table {
    text-align: center;
    width: 100%;
    background-color: rgb(219, 219, 219);
    color: rgb(132, 0, 255);
}
#menu {
    text-align: center;
    text-align: center;
    width: 100%; 
}
#x {
    color: aqua;
}
#IdMainBar {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}
#IdTittleBar {
    font-size: 150%;
    margin-left: 3%;
    text-align: left;
}
#IdMenuButton {
    background-color:gray;
    border-color: gray;
    margin-right: 3%;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    border-style: outset;
    border-style: solid;
    border-width: 0px 16px 0px 16px;
}
#IdSoundCloud {
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 0;
    width: 100%;
    height: 166;
    scrolling: no;
    frameborder: no;
    allow: autoplay;
}
*/

// $transition-collapse: height .35s ease;
// $transition-collapse-width: width .35s ease;

// .collapse {
//     &:not(.show) {
//         display: none;
//     }
// }

// .collapsing {
//     height: 0;
//     overflow: hidden;
//     @include transition($transition-collapse);

//     &.collapse-horizontal {
//         width: 0;
//         height: auto;
//         @include transition($transition-collapse-width);
//     }
// }


// #delay {
//     transition-duration: 4s;
//     transition-delay: 2s;
// }

// .box {
//     transition: width 2s, height 2s, background-color 2s, transform 2s;
// }

// .box.show {
//     transform: rotate(180deg);
// }

.mainDivCanvasdiv{
    position: relative;
}
.mainCanvas {
    position: absolute;
    background-color:  red;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}