body {
    background-color: rgb(34, 34, 34) !important;
    background-image: url("img/images/bg.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
    color: #fff !important;
    text-align: center;
}
.logohref {
    width: 20px;
}
.jumbotron{
    color:#fff;
    text-align:center;
    margin:0
}
.jumbotron#intro{
    height:calc(100vh - 51px);
    background-color: rgba(0, 0, 0, 0.35);
    /*
    background:-webkit-linear-gradient(45deg,#7a1d73 0%,#852d51 100%);
    background:linear-gradient(45deg,#7a1d73 0%,#852d51 100%);
    */
}
.jumbotron#featuredon{
    /*
    height:calc(100vh - 85.3px);
    background-color: rgb(20, 20, 20);
    */
    background-image: url("img/images/denpan.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
}
.jumbotron#download{
    /*
    height:calc(100vh - 85.3px);
    background-image: url("img/images/AnimeClassRoom.jpg");
    */
    background-color: rgba(0, 0, 0, 0.35);
}
footer{
    background-color: rgba(145, 0, 190, 0.75);
    color:#fff;
    font-size:12px;
    text-align:center;
}
footer p{
    margin: 0;
}
footer a,footer a:active,footer a:focus,footer a:hover{
    color:#fff
}
/*
body {
    background-image: url("img/AnimeClassRoom.jpg");
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(34, 34, 34) !important;
    color: white !important;
    text-align: center;
}
h1 {
    margin-top: 30px;
}
div {
    border-radius: 15px;
    border-style: outset;
    border-style: solid;
    border-width: 0px 16px 0px 16px;
}
strong {
    color: red;
}
.jumbotron{
    color:#fff;
    text-align:center;
    margin:0
}
.Cbutton {
    width: 100px;
    height: 30px;
}
.removetrasp {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    height: 98%;
}
.table {
    text-align: center;
    width: 100%;
    background-color: rgb(219, 219, 219);
    color: rgb(132, 0, 255);
}
#menu {
    text-align: center;
    text-align: center;
    width: 100%; 
}
#x {
    color: aqua;
}
#IdMainBar {
    display: block;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}
#IdTittleBar {
    font-size: 150%;
    margin-left: 3%;
    text-align: left;
}
#IdMenuButton {
    background-color:gray;
    border-color: gray;
    margin-right: 3%;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    border-style: outset;
    border-style: solid;
    border-width: 0px 16px 0px 16px;
}
#IdSoundCloud {
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-left: 0;
    width: 100%;
    height: 166;
    scrolling: no;
    frameborder: no;
    allow: autoplay;
}
*/