<div class="container">
    <div class="footer-social">
        <a href="https://github.com/Arutosio" target="_blank" title="GitHub"><img src="../Files/img/icons/GitHub-Mark-120px-plus.png" alt="GitHub" /></a>
        <a href="https://www.youtube.com/user/arutosio" target="_blank" title="YouTube"><img src="../Files/img/icons/youtubeLogo.png" alt="YouTube" /></a>
        <a href="https://www.twitch.tv/arutosio" target="_blank" title="Twitch"><img src="../Files/img/icons/twitchLogo.png" alt="Twitch" /></a>
        <a href="https://twitter.com/arutosio" target="_blank" title="Twitter"><img src="../Files/img/icons/Twitter_bird_logo.png" alt="Twitter" /></a>
        <a href="https://discord.gg/QvUW3kte4c" target="_blank" title="Discord"><img src="../Files/img/icons/discordLogo.png" alt="Discord" /></a>
    </div>
    <p>&#9829; <a class="badge-accent-green text-decoration-none" href="https://github.com/Arutosio" target="_blank">@Arutosio</a> &mdash; :|§currentYear§|:</p>
</div>
