<div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="../Files/img/images/logo_no_border.png" alt="Arutosio" width="60" height="35"
            class="d-inline-block align-text-top">
        Arutosio
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul id="Selections" class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a id="iHome" class="nav-link active" aria-current="page" href="#sHome">Home</a>
            </li>
            <li class="nav-item">
                <a id="iAboutMe" class="nav-link" href="#sAboutMe">About Me</a>
            </li>
            <li class="nav-item">
                <a id="iFeatures" class="nav-link" href="#sFeatures">Projects</a>
            </li>
            <li class="nav-item">
                <a id="iDonate" class="nav-link" href="#sDonate">Donate</a>
            </li>
            <!-- Social Links Dropdown -->
            <li class="nav-item dropdown">
                <button class="btn dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false"
                    style="border: none; background: transparent;">
                    Links
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="https://www.youtube.com/user/arutosio" target="_blank">
                        <img class="logohref" alt="YouTube" src="../Files/img/icons/youtubeLogo.png" />
                        YouTube</a>
                    </li>
                    <li><a class="dropdown-item" href="https://www.twitch.tv/arutosio" target="_blank">
                        <img class="logohref" alt="Twitch" src="../Files/img/icons/twitchLogo.png" />
                        Twitch</a>
                    </li>
                    <li><a class="dropdown-item" href="https://github.com/Arutosio" target="_blank">
                        <img class="logohref" alt="GitHub" src="../Files/img/icons/GitHub-Mark-120px-plus.png" />
                        GitHub</a>
                    </li>
                    <li><a class="dropdown-item" href="https://twitter.com/arutosio" target="_blank">
                        <img class="logohref" alt="Twitter" src="../Files/img/icons/Twitter_bird_logo.png" />
                        Twitter</a>
                    </li>
                    <li><a class="dropdown-item" href="https://myanimelist.net/profile/Arutosio" target="_blank">
                        <img class="logohref" alt="MAL" src="https://cdn.myanimelist.net/img/sp/icon/apple-touch-icon-256.png" />
                        MyAnimeList</a>
                    </li>
                    <li><a class="dropdown-item" href="https://discord.gg/QvUW3kte4c" target="_blank">
                        <img class="logohref" alt="Discord" src="../Files/img/icons/discordLogo.png" />
                        Discord</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Theme Toggle -->
        <button id="themeToggle" type="button" aria-label="Toggle theme">
            <span id="themeIcon">&#9790;</span>
        </button>
    </div>
</div>
