<div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="../Files/img/images/logo_no_border.png" alt="" width="60" height="35"
            class="d-inline-block align-text-top">
        Arutosio
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul id="Selections" class="navbar-nav me-auto mb-2 mb-lggoogl-0">
            <li class="nav-item">
                <a id="iHome" class="nav-link active" aria-current="page" href="#sHome">Home</a>
            </li>
            <li class="nav-item">
                <a id="iAboutMe" class="nav-link" href="#sAboutMe">AboutMe</a>
            </li>
            <li class="nav-item">
                <a id="iFeatures" class="nav-link" href="#sFeatures">Features</a>
            </li>
            <li class="nav-item">
                <a id="iDev" class="nav-link" href="#sDev">Dev</a>
            </li>
            <li class="nav-item">
                <a id="iDonate" class="nav-link" href="#sDonate">Donate</a>
            </li>
            <!-- Example dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Reference
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="https://www.youtube.com/user/arutosio" target="_blank">
                            <img class="logohref" alt="Responsive image" src="../Files/img/icons/youtubeLogo.png" />
                            Youtube</a></li>
                    <li><a class="dropdown-item" href="https://www.twitch.tv/arutosio" target="_blank">
                            <img class="logohref" alt="Responsive image" src="../Files/img/icons//twitchLogo.png" />
                            Twitch</a></li>
                    <li><a class="dropdown-item" href="https://github.com/Arutosio" target="_blank">
                            <img class="logohref" alt="Responsive image"
                                src="../Files/img/icons/GitHub-Mark-120px-plus.png" />
                            GitHub</a></li>
                    <li><a class="dropdown-item" href="https://twitter.com/arutosio" target="_blank">
                            <img class="logohref" alt="Responsive image"
                                src="../Files/img/icons/Twitter_bird_logo.png" />
                            Twitter</a></li>
                    <li><a class="dropdown-item" href="https://myanimelist.net/profile/Arutosio" target="_blank">
                            <img class="logohref" alt="Responsive image"
                                src="https://cdn.myanimelist.net/img/sp/icon/apple-touch-icon-256.png" />
                            MyAnimeList</a></li>
                    <li><a class="dropdown-item" href="" target="_blank">
                            <img class="logohref" alt="Responsive image" src="../Files/img/icons/discordLogo.png" />
                            Discord</a></li>
                </ul>
            </li>
            <!-- <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                    data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseVideo">Toggle
                    both video</button> -->
            <!-- Example single dropdown button -->
            <!-- <div class="btn-group">
                    <button type="button" class="btn btn-dark btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Reference
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="https://www.youtube.com/user/arutosio" target="_blank">
                                <img class="logohref" alt="Responsive image"
                                    src="../Files/img/icons/youtubeLogo.png" />
                                Youtube</a></li>
                        <li><a class="dropdown-item" href="https://www.twitch.tv/arutosio" target="_blank">
                                <img class="logohref" alt="Responsive image"
                                    src="../Files/img/icons//twitchLogo.png" />
                                Twitch</a></li>
                        <li><a class="dropdown-item" href="https://github.com/Arutosio" target="_blank">
                                <img class="logohref" alt="Responsive image"
                                    src="../Files/img/icons/GitHub-Mark-120px-plus.png" />
                                GitHub</a></li>
                        <li><a class="dropdown-item" href="https://twitter.com/arutosio" target="_blank">
                                <img class="logohref" alt="Responsive image"
                                    src="../Files/img/icons/Twitter_bird_logo.png" />
                                Twitter</a></li>
                        <li><a class="dropdown-item" href="https://myanimelist.net/profile/Arutosio"
                                target="_blank">
                                <img class="logohref" alt="Responsive image"
                                    src="https://cdn.myanimelist.net/img/sp/icon/apple-touch-icon-256.png" />
                                MyAnimeList</a></li>
                        <li><a class="dropdown-item" href="" target="_blank">
                                <img class="logohref" alt="Responsive image"
                                    src="../Files/img/icons/discordLogo.png" />
                                Discord</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </div> -->
        </ul>
    </div>
    <!-- GitHubLogo -->
    <ul class="nav navbar-nav navbar-right">
        <!-- <li>
                <div class="card">
                    <img src="../Files/img/icons/GitHub-Mark-120px-plus.png">
                    <img src="../Files/img/icons/GitHub-Mark-Light-120px-plus.png" class="img-top">
                </div>
            </li> -->
    </ul>
</div>