<div class="divContain">
    <div class="row" style="margin-top: 2%"></div>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <!-- Kanji List Options -->
                <div class="row">
                    <select id="kanjiListSelectOptions" class="form-select form-select-lg mb-3 dropdown-menu-dark" 
                    aria-label=".form-select-lg example">
                        <option selected>Open this to select a list of Kanji.</option>
                        :|§Option_Select§|:
                    </select>
                </div>

                <div class="row">
                    <!-- Button ADD and REMOVE -->
                    <div class="row">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <button id="buttonAddKanjiList" type="button" class="btn btn-outline-success">Add</button>
                            <button id="buttonRemoveKanjiList" type="button" class="btn btn-outline-danger">Remove</button>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 2%"></div>

                    <!-- Checkbox(Yomi) and Button(Start/Stop) -->
                    <div class="row">
                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            <input id="checkboxKunYomi" type="checkbox" class="btn-check" autocomplete="off">
                            <label class="btn btn-outline-primary" for="checkboxKunYomi">Kun Yomi</label>
                          
                            <input id="checkboxOnYomi" type="checkbox" class="btn-check" autocomplete="off">
                            <label class="btn btn-outline-primary" for="checkboxOnYomi">On Yomi</label>
                          
                            <button id="buttonStartStopLearnKanji" type="button" class="btn btn-outline-light">Start/Stop</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- List of Kanji List Added -->
            <div class="col">
                <ol id="kanjiListAddedOnTrainGroup" class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">List of Type Kanji Added.</div>
                        Select a List of Type Kanji and add or remove.
                      </div>
                      <span class="badge text-bg-primary rounded-pill"></span>
                    </li>
                    <!-- :|§ListKanjiList§|: -->
                </ol>
            </div>
        </div>

        <div class="row" style="margin-top: 2%"></div>
        
        <div class="row align-items-start">
            <!-- ProgressBar -->
            <div class="row">
                <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75%">75% - 100/154</div>
                </div>                    
            </div>

            <div class="row" style="margin-top: 3%"></div>

            <!-- CountDid Kanji CountToDo -->
            <div class="row">
                <div class="col">   
                    <div class="container">
                        <button type="button" class="btn btn-dark position-relative">
                            ✅
                            <span id="spanButtonCountDid" class="position-absolute start-100 translate-middle badge rounded-pill bg-success">
                                0
                            </span>
                        </button>                
                    </div>
                </div>
                <div class="col">
                    <h1><span id="kanjiAsk" class="badge text-bg-dark">日</span></h1>
                </div>
                <div class="col">
                    <div class="container">
                        <button type="button" class="btn btn-dark position-relative">
                            ❌
                            <span id="spanButtonCountToDo" class="position-absolute start-100 translate-middle badge rounded-pill bg-danger">
                                0
                            </span>
                        </button>                
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 2%"></div>

            <!-- Input With Label in line -->
            <div class="row">
                <div class="col">
                    <label class="visually-hidden" for="autoSizingInputGroup">Kun Yomi</label>
                    <div class="input-group">
                        <div class="input-group-text">Kun Yomi</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Kun Yomi">
                    </div>
                </div>
                <div class="col">
                    <label class="visually-hidden" for="autoSizingInputGroup">On Yomi</label>
                    <div class="input-group">
                        <div class="input-group-text">On Yomi</div>
                        <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="On Yomi">
                    </div>
                </div>
            </div>

            <!-- Input With Label -->
            <div class="row">
                <div id="inputKunYomi" class="col">
                    <label for="formGroupExampleInput" class="form-label">Kun Yomi</label>
                    <input type="text" class="form-control" placeholder="Kun Yomi" aria-label="Kun Yomi">
                </div>
                <div id="inputOnYomi" class="col">
                    <label for="formGroupExampleInput" class="form-label">On Yomi</label>
                    <input type="text" class="form-control" placeholder="On Yomi" aria-label="On Yomi">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 2%"></div>

        <div class="row align-items-start">
            <button id="buttonCheckKanji" type="button" class="btn btn-outline-warning">Check</button>
        </div>
    </div>
</div>