<div class="divContain">
    <div class="container">
        <div class="row" style="margin-top: 2%"></div>
        <div class="row">
            <h1>Hi, I'm Arutosio!</h1>
        </div>
        <!-- <div class="row">
            <p>
                Hello there, I'm a passionate :|§myAge§|:-year-old computer enthusiast. I have a deep love for crafting innovative applications that revolve around topics that truly captivate me, like anime and gaming. On this platform, you'll discover a showcase of my latest projects that reflect my dedication and creativity.
            </p>
        </div> -->
        <div class="row">
            <a href="../Files/img/images/AnimeClassRoom.jpg" data-fancybox="single" data-caption="Classroom Image">
                <img src="../Files/img/images/AnimeClassRoom.jpg" id="imgSelectMain" class="card-img" alt="Responsive image">
            </a>
        </div>
        <br />
        <!-- <div>
            <p>
                Besides coding, I'm passionate about online gaming, anime, and continuous programming growth. 
                In addition to my software pursuits, I've honed my skills in graphic design using tools like Photoshop and DaVinci Resolve. These talents come in handy as I occasionally produce engaging videos for my 
                <a href="https://www.youtube.com/user/arutosio" target="_blank" class="badge badge-primary">
                    <span class="badge bg-primary text-light">YouTube Channel</span>
                </a>
                and craft eye-catching templates for my 
                <a href="https://www.twitch.tv/arutosio" target="_blank" class="badge badge-primary">
                    <span class="badge bg-primary text-light">Twitch Channel</span>
                </a>
                Welcome to my digital space, where technology, creativity, and passion converge!
            </p>
        </div> -->
        <!-- <div class="row">
            <p>
                <br />
                I learned how to use PhotoShop and DavinciResolve by myself, because sometimes I make videos for
                my
                <a href="https://www.youtube.com/user/arutosio" target="_blank" class="badge badge-primary">
                    <span class="badge bg-primary text-light">YouTube Channel</span>
                </a>
                or same themeplates for my
                ,
                <a href="https://www.twitch.tv/arutosio" target="_blank" class="badge badge-primary">
                    <span class="badge bg-primary text-light">Twitch Channel</span>
                </a>.
            </p>
        </div> -->
    </div>
</div>