<div class="divContain">
    <div class="container">
        <div class="row" style="margin-top: 2%"></div>
        <div class="container py-5">
            <div class="row align-items-center">
                <h1 class="mb-3">
                    I'm a :|§myAge§|:-year-old tech enthusiast who's always learning and growing.</h2>
                     <!-- anadir a link donde vas a tener los links de todos tus projectos-->
                </h1>
            </div>
            <div class="row align-items-center">
                <div class="col-md-4 text-center">
                    <div id="carouselExampleDark" class="carousel carousel-dark slide">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="10000">
                            <img src="../Files/img/images/AnimeClassRoom.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item" data-bs-interval="2000">
                            <img src="../Files/img/images/AnimeClassRoom.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="../Files/img/images/AnimeClassRoom.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                              <h5>Third slide label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                            </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-md-8">
                    <p>Besides being a computer enthusiast, I'm also a passionate gamer so feel free to check out my latest uploads both on YouTube and Twitch below!</p>
                    <p>I love sharing my journey with others. Check out my latest projects and let me know what you think!</p>
                </div>
            <div class="row mt-5">
                <div class="col-md-6">
                    <p>
                        I am passionate about sharing my creative projects and ideas with others, and I truly enjoy connecting with people through my work. Feel free to explore my latest creations, where I dive into exciting topics and innovative concepts.
                        <a href="https://www.youtube.com/user/arutosio" target="_blank" class="badge badge-primary">
                            <span class="badge bg-primary text-light">YouTube Channel</span>
                        </a>
                        and  
                        <a href="https://www.twitch.tv/arutosio" target="_blank" class="badge badge-primary">
                            <span class="badge bg-primary text-light">Twitch Channel</span>
                        </a>
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="../Files/img/images/AnimeClassRoom.jpg" class="img-fluid" alt="...">
                </div>
            </div>

            <button type="button" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover"
                data-bs-placement="bottom" data-bs-content=":|§addressDepositText§|:">
                Address Text
            </button>
            <!-- <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title"
                data-bs-content=".nojekyll">Click to toggle
                popover
            </button> -->
            <!-- <div class="row">
                Add a placeholder for the Twitch embed
                <div id="twitch-embed"></div>
                <iframe id="twitch-chat-embed"
                    src="https://www.twitch.tv/embed/twitchdev/chat?parent=dev.twitch.tv"
                    height="500"
                    width="350">
                </iframe>
            </div> -->
        </div>
    </div>
</div>