<div class="divContain" data-bs-theme="dark">
    <div class="container">
        <div class="row" style="margin-top: 2%"></div>
        <!-- Card 1 -->
        <div class="bg-dark card mb-3" style="max-width: max-content;">
            <div class="row g-0">
                <div class="col-md-4">
                    <a href="../Files/img/images/AnimeClassRoom.jpg" data-fancybox="images" data-caption="My caption">
                        <img src="../Files/img/images/AnimeClassRoom.jpg" class="card-img" alt="Responsive image">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural
                            lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="card-group">
            <div class="card">
              <img src="../Files/img/images/AnimeClassRoom.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="../Files/img/images/AnimeClassRoom.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
            </div>
            <div class="card">
              <img src="../Files/img/images/AnimeClassRoom.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        <!-- Card 3 -->
    </div>
</div>