<div class="divContain">
    <div class="container">
        <div class="row" style="margin-top: 2%"></div>
        <div class="row">
            <br />
            <h1>(This webpage is working in progress..)</h1>
            <p>Hi I am Arutosio, I am :|§myAge§|: years old and I am a computer enthusiast. my hobbies are playing
                online, watching anime, and learning about programming.</p>
        </div>
        <div class="row">
            <a href="../Files/img/images/AnimeClassRoom.jpg" data-fancybox="single" data-caption="Classroom Image">
                <img src="../Files/img/images/AnimeClassRoom.jpg" id="imgSelectMain" class="card-img"
                    alt="Responsive image">
            </a>

            <!-- Add a placeholder for the Twitch embed
            <div id="twitch-embed"></div> -->
        </div>
        <div class="row">
            <p>
                <br />
                I learned how to use PhotoShop and DavinciResolve by myself, because sometimes I make videos for
                my
                <a href="https://www.youtube.com/user/arutosio" target="_blank" class="badge badge-primary">
                    <span class="badge bg-primary text-light">YouTube Channel</span>
                </a>
                or same themeplates for my
                ,
                <a href="https://www.twitch.tv/arutosio" target="_blank" class="badge badge-primary">
                    <span class="badge bg-primary text-light">Twitch Channel</span>
                </a>.
            </p>
        </div>
    </div>
</div>