<div class="divContain">
    <div class="row" style="margin-top: 2%"></div>
    <p class="text-danger">PLEASE DONT DONATE - the anddres on this section is just for a test.</p>
    <div class="container">
        <select id="cryptoSelectOptions" class="form-select form-select-lg mb-3 dropdown-menu-dark"
            aria-label=".form-select-lg example">
            <option selected>Open this to select a crypto Address for donate.</option>
            :|§Option_Select§|:
        </select>
        <div id="addressInfo" class="row" style="margin-top: 2%">
            :|§Address_Info§|:
        </div>
    </div>
</div>