<div class="divContain">
    <div class="container section-container hero-section">
        <div class="row align-items-center">
            <div class="col-lg-6 text-lg-start text-center mb-4 mb-lg-0">
                <h1 class="anime-heading">Hi, I'm Arutosio!</h1>
                <p class="hero-subtitle">Welcome to my little corner of the internet.</p>
                <p class="hero-tagline">Gamer, creator & anime enthusiast building cool stuff on the web.</p>
                <div class="d-flex gap-2 justify-content-lg-start justify-content-center mt-4">
                    <a href="https://github.com/Arutosio" target="_blank" class="btn btn-sm btn-outline-success">
                        GitHub
                    </a>
                    <a href="https://www.youtube.com/user/arutosio" target="_blank" class="btn btn-sm btn-outline-light">
                        YouTube
                    </a>
                    <a href="https://www.twitch.tv/arutosio" target="_blank" class="btn btn-sm btn-outline-light">
                        Twitch
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-image-wrapper">
                    <a data-fancybox data-src="../Files/img/images/AnimeClassRoom.jpg" data-caption="Classroom">
                        <img src="../Files/img/images/AnimeClassRoom.jpg" alt="Anime Classroom" class="img-fluid" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
