<div class="col-md-6 col-lg-4">
    <a href=":|§repoUrl§|:" target="_blank" class="repo-card">
        <div class="repo-card-top">
            <h5>:|§repoName§|:</h5>
            <span class="repo-updated">:|§repoUpdated§|:</span>
        </div>
        <p class="repo-card-desc">:|§repoDescription§|:</p>
        <div class="repo-lang-bar" id="lang-bar-:|§repoName§|:"></div>
        <div class="repo-card-bottom">
            <div class="repo-lang-labels" id="lang-labels-:|§repoName§|:"></div>
            <div class="repo-stats">
                <span>&#9733; :|§repoStars§|:</span>
                <span>&#9906; :|§repoForks§|:</span>
                <span>&#9678; :|§repoCommits§|:</span>
            </div>
        </div>
    </a>
</div>
