<tr>
    <th scope="row">:|§indexNum§|:</th>
    <td><strong>:|§nameSymbolChain§|:</strong> (:|§nameChain§|:)</td>
    <td>
        <button type="button" class="btn btn-sm btn-address" data-bs-container="body" data-bs-toggle="popover"
            data-bs-placement="bottom" data-bs-content=":|§addressDepositText§|:">
            Show Address
        </button>
    </td>
    <td>
        <a class="btn btn-sm btn-qrc" href=":|§qrcDepositImgQRC§|:" data-fancybox=":|§addressDepositText§|:"
            data-caption=":|§addressDepositText§|:">Show QR</a>
    </td>
</tr>
